@import url('bootstrap.css');

*{
    background-image: url('')
}

#rw1{
    background-color: grey
}
}
.text-p{
    font-weight: 60px;

     
}
.container{
    background-color: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/250px-Penrose-dreieck.svg.png')
}